html{
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eeeeee;
  min-height: 100%;
}

form{
  padding: 20px;
  margin-top: 60px;
}

form button, form h5{
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}

.right-container {
  float: right;
}

.gst-logo {
  margin-bottom: 6px;
  margin-left: 5px;
}

.tarjeta-auditoria {
  width: 300px;
  height: 180px;
  cursor: pointer;
  display: inline-block;
  margin: 15px 15px 15px 15px;
}

.date {
  /* width: 45% */
  float: right;
}

.graph {
  /* float: right;
  position:relative;
  display: inline-block ; */
  flex: 0 0 15%;
  margin-left: 50px;
}

.card-cont {
  flex: 1;
}

.main-container {
  display:flex;
}

.date-container {
  display:inline-block;
}

.radio-button {
  float: right;
}

.radio-group {
  margin: 20px 0px 0px 20px;
  width: 20%;
}

.pregunta {
  padding: 10px;
  padding-bottom: 40px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.red-test-color {
  background-color: #ec407a;
  /* width:100%; */
}

.campos {
  margin-top: 20px;
  /* margin-bottom: 20px; */
}

.legend-pregunta {
  color:#ec407a
}

.label70 {
  width:75%
}

.width100 {
  width:100%
}

.big-button {
  width: 120px;
  height: 45px;
  font-size: 20px;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.animation-from-left {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  overflow: hidden;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.modebar{
      display: none !important;
}

.detalles-preguntas-auditoria {
  padding: 10px
}