html {
  /* background-color: #002D73; */
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

.detalles-pregunta {
  background-color: #F8F8F8;
  width: 60vw;
  display:flex;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  height: 35vh;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}

.modebar {
  display: none !important;
}

.detalles-pregunta-text {
  padding: 20px;
  display: inline-block;
  width:70%;
  margin-right: 20px;
}

.graph {
  padding: 20px;
  width:30%;
}

.login-container {
  /* background-color: #002D73; */
  margin-top: 6vh;
  text-align: center;
}

.logo{

  width: 300px;
  /* background-color: #ec407a; */
  /* margin-top: 45px;
  margin-right: -525;
  margin-left: 480px; */
  margin-bottom: 3vh;
  margin-top: 60px;
}

@media (max-width: 1000px) {
  .logo { width: 200px; }
}

.username{
  /* margin-left: -280px;
  margin-right:  500px;  */
  border-radius: 5px;
  /* width: 25%; */
  width: 100%;
  height: 35px;
  /* margin-top: 190px; */
 
}

.upl{
  /* background-color: #707070; */
  /* margin-left: -200px;
  margin-right: 45px; */
  border-radius: 5px;
  /* width: 45%; */
  /* height: 35px; */
  

}
.email{
  /* margin-left: 245px;
  margin-right: 45px; */
  border-radius: 5px;
  width: 100%;

  /* background-color: #ec407a; */
  /* width: 45%; */
  /* width: 100%; */
  height: 35px;
}

.Sgup{
  /* margin-left: -50px;
  margin-right: 35px; */
  border-radius: 5px;
  height: 90%;
  margin-top: 50px;
}

.password{
  /* margin-left: -280px;
  margin-right:  500px;  */
  border-radius: 5px;
  width: 100%;
  /* width: 25%; */
  height: 35px;
  margin-top: 45px;

}

.Login {
  /* background-color: #ec407a; */
  /* width: 87.5%; */
  width:auto;
}

.Log:focus {     
  background-color: #002D73 !important;    
}
.Log{
  /* margin-left: -280px;
  margin-right:  500px;  */
  border-radius: 5px;
  width: 100%;
  height: 41px;
  margin-top: 55px;
  color: white;
  font-size: 17px;
  border: 2px solid #002D73 ;
  border-radius: 5px;
  background-color: #002D73;
}
.passing{
  border-radius: 5px;
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  width: 45%;
  height: 35px;
  margin-top: 40px;

}

.fname{
  border-radius: 5px;
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  width: 45%;
  height: 30px;
  margin-top: 40px;

}


.lastname{
  border-radius: 5px;
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  width: 45%;
  height: 30px;
  margin-top: 40px;
}
.Level{
  border-radius: 5px;
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  width: 45%;
  height: 37px;
  margin-top: 50px;
}
.Signuptext{
  /* margin-left: auto;
  margin-right: auto; */
  width: 45%;
  height: 37px;
  margin-top: 20px;
}
.Sign:focus{
  background-color: #002D73 !important;
}
.Sign{
  border-radius: 5px;
  /* margin-left: 245px; */
  width: 100%;
  height: 42px;
  margin-top: 50px;
  color: white;
  font-size: 17px;
    border: 2px solid #002D73 ;
    border-radius: 5px;
    background-color: #002D73;
    margin-top: 30px;
}

/*NAVBAR*/
.navbar{
  background-color: #002D73;
  overflow: hidden;
  /* height: 10vh; */
  /* display: flex; */
  padding: 2.5vh;
  /*justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  /* width: 100vw; */
}

.nav {
  background-color: #002D73;
  overflow: hidden;
  margin-top: 0vw !important;
  padding-bottom: 0px !important;
  width: 100vw;

  color: white;
  text-decoration: none;

  height: 50px;
  display: flex;
}

/*BOTONES*/
.boton {
  cursor: pointer;
}

.regreso{
  float: right;
  border: 2px solid #707070;
  padding: 6px 9px;
  text-align: center;
  font-size: 18px;
  color: #707070;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  position: fixed;
}

.regreso:hover{
  background-color: #707070;
  color: white;
}



form{
  padding: 20px;
}

form button, form h5{
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}
/* Esto es para que los links no tengan estilos propios */
a {
  color: inherit;
  text-decoration: inherit;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-list {
  display: flex;
  /* background-color: chartreuse; */
  /* width:100vw; */
  align-items: center;
  /* float: right; */
  /* background-color: #CB4335; */
}

.options li{
  /* background-color: brown; */
  /* float: right; */
  margin-left: 20px;
  /* margin-right: 10px; */
  display: inline-block;
}

.options{
  /* float: right; */
  text-decoration: none;
  height: 30px;
  display: flex;
  align-items: center;
  margin-right:20px;
}


.center-grid {
  grid: center; 

}
.perfil{
  /* background-color: violet; */
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  border: none;
  color: white;
  max-width: 50px;
  float: left;

  margin-left:20px;
}

.imout{
  /* background-color: violet; */
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  border: none;
  color: white;
  max-width: 50px;
  float: right;

  margin-right:20px;
}

/*-------------------------*/

/*CABECERA*/
.padre-padre-titulo{
  width: 100%;
  /* background-color: aqua; */
}

.padre-titulo{
  margin-top: 0.5vw;
  width: 100%;
  display: grid;
  /* grid-gap: 15px; */
  /* padding: 20px;
  padding-top: 0px; */
  padding-bottom: 10px;
  align-items: center;

  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1000px) {

  .titulo.destroy-on-mobile {
    display: none; 
  }

  .padre-titulo.mobile{
    grid-template-columns: repeat(1, 1fr);
  }
}

/* @media (min-width: 100px) {
  .padre-titulo { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 100px) {
  .padre-titulo { grid-template-columns: repeat(3, 1fr); }
} */

.titulo{
  text-align: center;
  /* background-color: #ec407a; */
}

h2{
  color: #002D73;
  font-size: 30px;
  width: 100%;
  justify-content: center; 
}

h3{
  color: #002D73;
  font-size: 18px;
  width: 100%;
  /* justify-content: center; */
  text-align: justify;
}

/*-------------------------*/

/*CENTER BOX*/
.center-box {
  display: flex;
  justify-content: center; 
  /* height: 100%; */
  align-items: center;
  /* width: 100%; */
  overflow: hidden;
}

/*-------------------------*/

/*VISTA PREGUNTAS*/
.boton-arriba{
  border: 2px solid #707070;
  padding: 6px 9px;
  text-align: center;
  font-size: 16px;
  color: #707070;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  width: 15vw;
}

.boton-arriba:hover{
  background-color: #707070;
  color: white;
}

.tarjeta-pregunta {
  background-color: #F8F8F8;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  transition: 0.3s;

  margin-top: 10px;
  margin-bottom: 10px;

  /* width: 100%; */

  padding: 1vw;
  /* overflow-y: hidden; */
  /* width: 70vw; */
  display: flex;

  overflow: hidden;
}

.tarjeta-pregunta-half1 {
  /* background-color: crimson; */
  /* display: flex; */
  width: 95%;
  padding-top: 10px;
  word-break: break-word;
}

.tarjeta-pregunta-half2 {
  /* background-color: cyan; */
  /* color: blue; */
  align-items: center;
  /* display: flex; */
  width: 10%;
  /* background-color: cadetblue; */
}

.tarjeta-pregunta:hover {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
}

.boton-abajo{
  border: 2px solid #002D73;
  padding: 6px 9px;
  text-align: center;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  background-color: #002D73;
  font-family: 'Montserrat', sans-serif;
  width: 13vw;
}

.boton-abajo:hover{
  border: 2px solid #002D73;
  background-color: white;
  color: #002D73;
}

/* .width-botones-abajo{
  display: inline-block;
  width: 50%;
} */

/*-------------------------*/

/*VISTA CHANGE PASSWORD*/
.aceptar{
  border: 2px solid #002D73;
  padding: 6px 9px;
  text-align: center;
  font-size: 16px;
  color: #002D73;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  width: 100px;
  /* margin-left: 15px;
  margin-right: 15px; */
}

.responder {
  width: 125px;
  /* height: 50px; */
  margin: 10px;
}

.aceptar:hover{
  background-color: #002D73;
  color: white;
}

.cancelar{
  border: 2px solid #707070;
  padding: 6px 9px;
  text-align: center;
  font-size: 16px;
  color: #707070;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  width: 100px;
  /* margin-bottom: 15px; */
  /* margin-left: 15px;
  margin-right: 15px; */
}

.cancelar:hover{
  background-color: #707070;
  color: white;
}

.tarjeta-password{
  background-color: #F8F8F8;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  transition: 0.3s;
  margin: 1vw 27.9vw 1vw 27.9vw;
  padding: 1vw;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(1, 1fr);

  /* background-color: #ec407a; */
}

.tarjeta-password-container {
  background-color: #ec407a;
  width: 90%;
  padding: 5px;
  padding-left: 0px;
  padding-right: 25px;
}

.tarjeta-password:hover {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
}

/*-------------------------*/

/*VISTA CREATE QUESTION*/
.crear{
  border: 2px solid #002D73;
  padding: 6px 9px;
  text-align: center;
  font-size: 16px;
  color: #002D73;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  width: 5vw;
}

.crear:hover{
  background-color: #002D73;
  color: white;
}

.tarjeta-crear-pregunta{
  background-color: #F8F8F8;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  transition: 0.3s;
  margin: 1vw 27.9vw 3vw 27.9vw;
  padding: 1vw;
  overflow-y: hidden;
}

.tarjeta-crear-pregunta:hover {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
}

.blue {
  background-color: blue;
}

.red {
  background-color: brown;
}

/*-------------------------*/

/*VISTA CREAR AUDITORIA*/
.add-question{
  border: 2px solid #002D73;
  padding: 6px 9px;
  text-align: center;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  background-color: #002D73;
  font-family: 'Montserrat', sans-serif;
  width: 220px;
}

.add-question:hover{
  background-color: white;
  color: #002D73;
}

.form-1{
  background-color: #F8F8F8;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  transition: 0.3s;
  margin: 1vw 4vw 3vw 4vw;
  padding: 1vw;
  /* overflow-y: hidden; */
}

.white {
  background-color: white !important;
  box-shadow:none !important;
}

.white:hover {
  box-shadow:none !important;
}

@media (min-width: 1000px) {
  .form-1 { margin: 1vw 25vw 3vw 25vw; }
}

@media (min-width: 1900px) {
  .form-1 { margin: 1vw 35vw 3vw 35vw; }
}


.form-1:hover {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
}

/*-------------------------*/

/*VISTA AUDITORIA*/
.tarjeta-auditoría-half1 {
  /* background-color: crimson; */
  display: inline-block;
  width: 93%;
  padding-top: 10px;
}

.tarjeta-proceso-half1 {
  /* background-color: crimson; */
  display: flex;
  width: 93%;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
}

.tarjeta-auditoría-half2 {
  /* background-color: cyan; */
  /* color: blue; */
  align-items: center;
  display: inline-block;
  width: 10%;
  /* background-color: cadetblue; */
}

.button-group {
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  /* background-color: brown; */
}

.suavizar-borde {
  border-radius: 5px;
  height: 25px;
  text-align: center;
  margin-top: -5px;
}

.extra-margin-botones {
  margin-bottom: 5px;
}

.arroz-chino {
  /* display:inline-block; */
  /* background-color: #ec407a; */
  /* max-width: 100vw; */
  /* width: 100vw; */
  display: grid;
  /* grid-gap: 20px; */

  /* margin-left: 20px;
  margin-right: 20px; */
  /* background-color: #ec407a; */
  /* width: 100%; */
  /* background-color: crimson; */
  /* width: 100%; */
}

.justify-text {
  text-align: justify;
}

.only2row {
  grid-template-columns: repeat(2, 1fr) !important;
  width: 100%;
  height: 400px;
  /* overflow-x: hidden;
  overflow-y: scroll; */
}

@media (max-width: 1000px) {
  .only2row { 
    grid-template-columns: repeat(1, 1fr) !important;
    height: auto;
    overflow-x: auto;
    overflow-y: auto;
  }
}

@media (min-width: 100px) {
  .arroz-chino { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: 450px) {
  .arroz-chino { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 800px) {
  .arroz-chino { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1150px) {
  .arroz-chino { grid-template-columns: repeat(4, 1fr); }
}

@media (min-width: 1500px) {
  .arroz-chino { grid-template-columns: repeat(5, 1fr); }
}

@media (min-width: 1850px) {
  .arroz-chino { grid-template-columns: repeat(6, 1fr); }
}

@media (min-width: 2200px) {
  .arroz-chino { grid-template-columns: repeat(7, 1fr); }
}

.tarjeta-auditoría-custom-margins {
  margin: 0px;
  /* background-color: #ec407a; */
}

.tarjeta-auditoría-link-custom-margins {
  margin: 15px !important;
  /* background-color: #ec407a; */
}

.tarjeta-auditoría{
  background-color: #F8F8F8;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  transition: 0.3s;
  /* margin: 1vw 27.9vw 3vw 27.9vw; */
  margin: 15px;
  padding: 1vw;
  overflow: hidden;

  height: 180px;

  /* background-color: #ec407a; */
  /* width: 300px; */
  /* max-width: 350px; */
  /* width: 350px; */
  /* width: 100%; */
  /* min-width: 300px; */

  /* display: inline-block; */
  /* float:left; */

  /* float: left; */
  display: flex;
  /* grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr); */
  
}




.tarjeta-auditoría:hover {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
}




/*-------------------------*/

/*BOTONES*/
.return{
  border: 2px solid #707070;
  padding: 6px 9px;
  text-align: center;
  font-size: 16px;
  color: #707070;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  
  
  /* position: fixed;
    top: 90%;
    left: 91%; */
}

.return:hover{
  background-color: #707070;
  color: white;
}

/*-------------------------*/

/*CARD*/
/*Para que se apilen las tarjetas de box en el MainProcesses*/
.container{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 1px;
}

/*-------------------------*/

/*FOOTER*/
.footer{
  margin-top: 2vw;
  /* width: 50%; */
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3vw;
  /* background-color: deeppink; */

  margin: 20px;
}

.text-align-right {
  text-align: right !important;
}

.text-align-left {
  text-align: left !important;
}

.footer-single {
  text-align: center;
  /* background-color: coral; */
}

.footer-single-flex {
  text-align: center;
  display: flex;
  align-items: center;
  /* background-color: coral; */
}

.footer-padre{
  margin-top: 4vw;
  margin-bottom: 3.2vw;
  width: 25%;
  text-align: center;
  float: left;
  /* background-color: deepskyblue; */
}

.footer-padre-padre{
  width: 100%;
  text-align: center;
  float: left;
  /* background-color: firebrick; */
}

/*-------------------------*/

/*TEXTS*/
p{
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #707070;
}

input{
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  padding: 10px;
  border-style: none;
  border: 2px solid rgba(0,0,0,0.2);
  font-size: 16px;
}

.this-is-also-input {
  width: calc(100% - 15px);
  display:inline-block;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  padding: 4px;
  border-style: none;
  border: 2px solid rgba(0,0,0,0.2);
  font-size: 16px;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.placeholder-color {
  color: #707070;
  font-family: 'Montserrat', sans-serif;
  padding-left: 5px;
}

.text-color {
  /* color: #707070; */
  font-family: 'Montserrat', sans-serif;
  padding-left: 5px;
  /* margin-left: 5px; */
}

.input-field{
  margin: 20px;
  grid-column: 1/4;
}

.margin-left-20 {
  margin-left: 20px;
}

.limit-width {
  width:100%;
  margin-bottom: 20px;
  /* margin-top: 10px; */
}

.input-field-1-2{
  margin: 20px;
  margin-bottom: 0px;
  grid-column: 1/3;
  /* background-color: coral; */
}

.input-field-3-4{
  margin: 20px;
  margin-bottom: 0px;
  grid-column: 3/5;
}




.extra-margin {
  margin-bottom: 20px;
}

.form-2{
  /* margin: 20px; */
  margin-left: -25px;
  /* background-color: deeppink; */
}

.date-container {
  /* background-color: chocolate; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.date {
  /* background-color: cornflowerblue; */
  /* width: 5%; */
  width: 100%;
}

.fecha {
  color: #707070;
  /* width: 20%; */
  /* background-color: darkorange; */
  /* width: 5vw; */
  /* display: none; */
  padding-left: 30px;
  align-items: center;
  display: flex;
}

.react-datepicker-wrapper,
/* .react-datepicker__input-container, */
.react-datepicker__input-container input {
    display: block;
    /* background-color:deeppink; */
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    padding: 10px;
    border-style: none;
    border: 2px solid rgba(0,0,0,0.2);
    font-size: 16px;
    /* overflow: hidden; */
    /* margin: 20px; */

    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    /* background-color: crimson; */
}

.datePicker {
  /* background-color: darkgreen; */
}

/* .datePicker-container {
  background-color: darkmagenta;
  width: 12.5vw;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  padding: 10px;
  border-style: none;
  border: 2px solid rgba(0,0,0,0.2);
  font-size: 16px;
} */

.dialog-content {
  padding: 25px;
  overflow-wrap: break-word;
}

.dialog-span {
  font-weight: bold;
}

.dialog-p {
  font-weight: lighter;
}

.hover-cursor {
  cursor: pointer;
}

.text-wrap {
  overflow-wrap: break-word;
  width:100%;
  background-color: #ec407a;
}

.add-symbol {
  color: #D0D3D4;
}

.navbar-links {
  /* background-color: indigo; */
  /* display: flex; */
  float: right;
}

.red-text {
  color: #ec407a !important;
}

.overwrite-margin {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.nueva-pregunta {
  /* background-color: greenyellow; */
  display: flex;
}

.nueva-pregunta-index {
  background-color: #002D73;
  width: 5%;
  /* text-align: center; */
  margin-right: 10px;
  color: #D0D3D4;
  border-radius: 5px;

  display: flex;
  justify-content: center; 
  align-items: center;
}

.nueva-pregunta-layer {
  /* background-color: #002D73; */
  border: 2px solid #002D73;
  color: #002D73;
  font-weight: bold;
  width: 5%;
  /* text-align: center; */
  margin-right: 10px;
  margin-left: 10px;
  /* color: #D0D3D4; */
  border-radius: 5px;

  display: flex;
  justify-content: center; 
  align-items: center;
}

.nueva-pregunta-delete {
  /* background-color: blueviolet; */
  width: 5%;

  display: flex;
  justify-content: center; 
  align-items: center;
}

.nueva-pregunta-main {
  /* background-color: brown; */
  width: 85%;
}

.margin-bottom {
  margin-bottom: 15px;
}

.margin-top {
  margin-top: 5vh;
}

.preguntas {
  margin-top: 0.5vw;
  /* width: 100%; */
  display: grid;
  /* grid-gap: 15px; */
  /* padding: 20px;
  padding-top: 0px; */
  padding-bottom: 10px;
  align-items: center;

  margin-left: 15vw;
  margin-right: 15vw;

  grid-template-columns: repeat(1, 1fr);
}

@media (max-width: 1000px) {
  .preguntas {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.center-text {
  text-align: center;
}

.default-height {
  height: 10vh;
}

/* .detalles-main {
  width: 50%;
} */

.enable-overflow {
  /* height: 300px; */
  /* overflow-x: hidden;
  overflow-y: scroll; */
  padding-right: 10px;
}

.new-class {
  padding: 15px;
}

.max-width {
  width: 100%;
}

.card-title {
  color: black !important;
}

.align-center-bot {
  display: flex;
  align-content: center;
  justify-content:center;
  background-color: #ec407a;
  height: 10%;
}

.new-class-2 {
  /* height: 90%; */
  overflow-y: scroll;
}

.new-class-3 {
  display: flex;
  align-content: center;
  justify-content:center;
  /* height: 30%; */
}

.new-parent {
  display:block;
}

.graph-align {
  height: 350px;
  /* background-color: #002D73; */
}

.graph-align-popup {
  height: 200px;
  /* background-color: brown; */
  width: 80%;
  overflow: hidden;
}

.width-100pc {
  width: 100%;
  overflow: hidden;

}

.popup-title {
  text-align: center;
  /* background: #002D73; */
  /* background: #002c737c;
  color: white !important; */
  /* border: 2px solid #002D73; */
}

::-webkit-scrollbar {
  width: 10px;
  
  
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #9b1515; */
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #2471A3; */
  background: #002D73;
  border-radius: 3px;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #CB4335; */
  /* background:#D0D3D4; */
  background: #2471A3;  
}


.radio-group {
  width: 30%;
  /* margin-left: 10px;
  margin-right: 10px; */
}

.label70 {
  width: 70%;
  text-align: center;
  /* background-color: #ec407a; */

  overflow: hidden;
}

.campos {
  display: flex;
  width: 100%;
}

@media (max-width: 1000px) {
  .campos {
    /* background-color: #ec407a; */
    display: inline-block;
  }

  .label70 {
    width: 100%;
  }

  .radio-group {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content:center;
    /* background-color: #002D73; */
  }
}

.extra-padding-form {
  padding: 15px;
}